BasedOnStyle: Microsoft
UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  IndentBraces: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
ColumnLimit: 200
SortIncludes: true
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
